.errorPage {
    text-align: center;
    margin-top: 10rem;
  }
  
  .errorPage h1 {
    margin-bottom: 2rem;
  }
  .errorPage h2 {
    margin-bottom: 2rem;
  }
  .errorPage button {
    background-color: rgb(43, 137, 226);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .errorPage button:hover{
    background-color: rgb(8, 118, 221);
  }
  